@namespace CulinaryCommand.Components
@inject NavigationManager Nav

<Router AppAssembly="@typeof(CulinaryCommand.Components.Pages.SignIn).Assembly" PreferExactMatches="true">
    <Found Context="routeData">
        @if (routeData.PageType == typeof(CulinaryCommand.Components.Pages.SignIn)
        || routeData.PageType == typeof(CulinaryCommand.Components.Pages.SignUp)
        || routeData.PageType == typeof(CulinaryCommand.Components.Pages.AdminSignUp)
        || routeData.PageType == typeof(CulinaryCommand.Components.Pages.Home))
        {
            <RouteView RouteData="@routeData" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>Sorry, nothing found at this address.</p>
        </LayoutView>
    </NotFound>

</Router>
