@using CulinaryCommand.Data.Entities
@inject AuthService Auth

@foreach (var loc in Locations)
{
    <div class="card shadow-sm p-3 mb-3">
        <div class="d-flex justify-content-between">
            <div>
                <h5>@loc.Name</h5>
                <p class="text-muted mb-1">@loc.Address</p>
                <small>@loc.City, @loc.State @loc.ZipCode</small>
            </div>
        </div>
    </div>
}

@* <div class="card shadow-sm p-3">

    <h4>@Auth.Company</h4>

    @if (Location == null)
    {
        <div class="alert alert-warning">No assigned location.</div>
    }
    else
    {
        <h5>@Location.Name</h5>
        <p class="mb-1">@Location.Address</p>
        <p class="mb-1">@Location.City, @Location.State @Location.ZipCode</p>
    }

</div> *@

@code {
    [Parameter] public List<Location> Locations { get; set; } = new List<Location>();
}